<!--<h2>Home</h2>

 <p class="status good" ng-show-auth>Hello! You are logged in with id {{user.uid}}.</p>
<p class="status" ng-hide-auth>Welcome. You are not <a href="#/login">logged in</a></p>

<input ng-model="syncedValue.$value" type="text" ng-change="syncedValue.$save()" /> <b>{{syncedValue.$value}}</b>

<p>Open <a ng-href="{{FBURL}}/syncedValue" target="_blank">Forge</a> or a <a target="_blank" href="#/">new window</a> to see this input update in real time.</p> -->
<div class="banner"> <img src="img/banner-1.jpg" alt="banner">
    <div class="container bannertext">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <h1>Providing Hope Worldwide</h1>
                <h2>Over <span>17</span> Projects, <span>120</span> Countries and Counting...</h2>
                <a href="#" class="donatenow">Donate Now</a> </div>

        </div>
    </div>
</div>

<!--end banner-->

<!-- content-area-start -->

<section class="content-part">
    <div class="container">
        <div class="row">
            <div class="leftsidebar">
                <div class="whoare">
                    <h3>Story About Us</h3>
                    <h2>Who are we?</h2>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</p>
                    <a href="#">Learn More</a> </div>
                <div class="startgiving"> <img src="img/img-2.png" alt="img">
                    <h3>We Need You!.</h3>
                    <h2>Start giving now</h2>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel.</p>
                    <a href="#">Donate Now</a> </div>
                <div class="newsletter">
                    <h2>Subscribe To Newsletter</h2>
                    <p>Stay informed on new causes.</p>
                    <ul class="newsbox">
                        <li>
                            <input type="text" value="Email">
                        </li>
                        <li>
                            <input type="button" value="">
                        </li>
                    </ul>
                </div>
            </div>
            <!--end leftsidebar-->
            <div class="rightsidebar">
                <div class="givingmob">
                    <h2>We Need You!</h2>
                    <h1>Giving goes mobile</h1>
                    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel...</p>
                    <ul class="mybtn">
                        <li><a href="#" class="more">Learn More</a></li>
                        <li><a href="#" class="donate">Donate Now</a></li>
                    </ul>
                </div>
                <div class="charities">
                    <h2>View All Causes</h2>
                    <h1>For charities</h1>
                    <a href="#" class="prev"></a> <a href="#" class="next"></a>
                    <div class="charitieslid">
                        <div class="charitiethumb"> <img src="img/img-3.jpg" alt="img">
                            <h3>Maecenas sed diam eget</h3>
                            <h4>87% Donated/$10,000 To Go</h4>
                            <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla...</p>
                            <a href="#">Learn More</a> </div>
                        <div class="charitiethumb last"> <img src="img/img-4.jpg" alt="img">
                            <h3>Maecenas sed diam eget</h3>
                            <h4>87% Donated/$10,000 To Go</h4>
                            <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla...</p>
                            <a href="#">Learn More</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end container-->

    <div class="botomslide">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>Thank you!</h4>
                    <p>You've helped us raise a staggering</p>
                    <h4>$70.000 so far! </h4>
                    <a href="#" class="donatenow">Donate Now</a> </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="clients">
                        <li><img src="img/client-1.png" alt="client"></li>
                        <li><img src="img/client-2.png" alt="client"></li>
                        <li><img src="img/client-3.png" alt="client"></li>
                        <li><img src="img/client-4.png" alt="client"></li>
                        <li><img src="img/client-5.png" alt="client"></li>
                        <li><img src="img/client-6.png" alt="client"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- content-area-end --> 

